<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjk.framework.dao.mapper.UserShowInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="UserShowInfo">
        <id column="id" property="id" />
        <result column="target_id" property="targetId" />
        <result column="user_id" property="userId" />
        <result column="show_id" property="showId" />
        <result column="show_avator" property="showAvator" />
        <result column="show_sex" property="showSex" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="publish_flag" property="publishFlag" />
        <result column="black_list" property="blackList" />
    </resultMap>

	<select id="selectByUserId" resultType="UserShowInfo">
	select * from user_show_info where id =#{id} and show_sex = #{showSex}
	</select>
	<select id="selectById" resultType="UserShowInfo">
	select * from user_show_info where id =#{id} and show_sex = #{showSex}
	</select>

</mapper>
