   	 *  <p>
   	 *  Description for this operation is<br>
   	 *  <tt></tt>
	 *  <p>
	 *  The sql statement for this operation is <br>
	 *  <tt>$operation.sql</tt>
	 *
##@param
#foreach ($param in ${operation.params})
	 *	@param $param.variableName
#end
##@return
	 *	@return ${operation.simpleReturnType}
	 #*	@throws DataAccessException *#
